[submodule "/home/greth/.config/vim/bundle/lightline"]
	path = /home/greth/.config/vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "/home/greth/.config/vim/bundle/fugitive"]
	path = /home/greth/.config/vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "/home/greth/.config/vim/bundle/vim-hexokinase"]
	path = /home/greth/.config/vim/bundle/vim-hexokinase
	url = https://github.com/rrethy/vim-hexokinase.git
[submodule "/home/greth/.config/vim/bundle/gruvbox"]
	path = /home/greth/.config/vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "/home/greth/.config/vim/bundle/lightline-bufferline"]
	path = /home/greth/.config/vim/bundle/lightline-bufferline
	url = https://github.com/mengelbrecht/lightline-bufferline.git
